# Core functionality - changes here should be rare!
/src/app.py                   @achen18
/src/backend/database.py      @achen18
/src/backend/routers/auth.py  @achen18

# The frontend will need refactored soon to be more object oriented.
/src/static/   @achen18
